* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to top, #E06C78 50%, #FA9284);
    width: 100%;
 
}

::placeholder {
    font-style: italic;
}

p {
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 420px;
    height: 530px;
    border: 3px solid rgba(247, 136, 155, 0.945);
    background-color: rgba(225, 247, 247, 0.952);
    margin: 50px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------Heading ----------*/
.heading #today-date {
    font-size: 30px;
    width: 30%;
    margin: 50px 0 20px 20px;
    color: rgb(240, 65, 65);
}

/* ------------Input field------------ */
.input-field {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.input-field #field {
    width: 88%;
    border: 1px solid rgb(219, 245, 245);
    margin-right: 5px;
    padding: 8px;
    background-color: rgba(211, 226, 226, 0.39);
    transition: background-color .5s, box-shadow .25s;
    
}

.input-field #field:focus {
    background-color: white;
    -webkit-box-shadow: 0 0 2px 1px #ec5656;
    -moz-box-shadow: 0 0 2px 1px #ec5656;
    box-shadow: 0 0 2px 1px #ec5656;
}

.input-field #field:hover {
    background-color: #ffff;
}





.input-field #btn {
    padding: 3px 15px;
    text-align: center;
    border: 1px solid rgb(219, 245, 245);
    color: white;
    background-color: rgba(204, 204, 204, 0.664);
    font-size: 100%;
    transition: background-color .5s;
    cursor: pointer;
}

.input-field #btn:hover, 
.input-field #btn:active {
    background-color: rgb(245, 101, 101);
    
}

/* --------Task--------- */

label, .task-field, input[type=checkbox], #block-div {
    cursor: pointer;
}

.task-field {
    background-color: rgb(243, 233, 233);
    color: black;
    width: 70%;
    border-style: none;
    padding: 5px;
    transition: background-color .5s;
    position: absolute;
    right: 20%;
    bottom: 13%;
    visibility: hidden;
}

label {
   position: relative; 
   overflow-wrap: break-word;
   max-width: 70%;
}


#list {
    display: flex;
    flex-direction: column-reverse;
}

input[type=checkbox] {
    margin-right: 20px;
    background-color: rgba(223, 219, 219, 0.8);
    transform: scale(1.5);
}

input[type=checkbox]:checked + label{
    color: rgb(250, 248, 248);
    text-decoration: line-through;
}


#block-div {
    width: 80%;
    background-color: rgb(206, 197, 197);
    padding: 10px;
    margin: 5px auto;
    transition: background-color .5s;
    animation: slidein .5s ease;
    position: relative;
}

@keyframes slidein {
  from {transform: translateX(100%);}
  to {transform: translateX(0);}
}


#block-div:hover, #block-div:hover .task-field {
    background-color: rgb(245, 101, 101);
}

/* --------Icon------------ */

.icon {
    visibility: hidden;
    cursor: pointer;
    color: white;
    float: right;
    margin-right: 5px;
}

.icon:hover {
    color: black;
    transform: scale(1.2);
}

.edit-icon {
    cursor: pointer;
    position: absolute;
    left: 90%;
    transition: transform 1s;
}

.edit-icon:hover {
    transform: rotate(360deg);
}

/* --------Counter--------- */ 
#counter {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: rgb(31, 30, 30);
}
